body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#startText, #description {
    color: white;
    margin-bottom: 20px; /* Add some space between the text and the button */
}

.startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #222;
    color: white;
    transition: background-color 0.3s ease;
    overflow: hidden;
    border: 2px solid rgb(0, 150, 0);
    position: relative; /* Make sure the parent has position: relative */
}

.startButton::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%; /* Start outside the button */
    width: 100%;
    height: 100%;
    transition: left 0.3s ease; /* Animate the left property */
    background-color: rgb(0, 150, 0); /* The fill color */
    z-index: 1; /* Ensure the pseudo-element is behind the text */
    pointer-events: none; /* Allow the button to be clickable */
}

.startButton:hover::before {
    left: 0; /* Slide in to fill the button */
}

.startButton span {
    position: relative; /* Make sure text is above the pseudo-element */
    z-index: 2;
}

.leftAnime, .rightAnime {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
}

.leftAnime {
    left: 0;
}

.rightAnime {
    right: 0;
}

#leftImage, #rightImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

#leftTitle, #rightTitle, #leftScore, #rightScore, #leftDescription, #rightDescription1, #rightDescription2 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    text-shadow: 3px 3px #000;
}

#leftTitle, #rightTitle {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#leftScore, #rightScore {
    color: green;
    font-size: 50px;
    font-weight: bold;
}

#leftDescription, #rightDescription1, #rightDescription2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#versus {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    margin-bottom: -10px;
}

#result {
    height: 0px;
    width: 0px;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

@keyframes expand {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#result.expand {
    animation: expand 0.5s forwards; /* Adjust the duration as needed */
    height: 65px; /* Ensure these properties are set for the final state */
    width: 65px; /* Ensure these properties are set for the final state */
    transform-origin: center; /* Transform from the center */
}

@keyframes shrink {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

#versus.shrink {
    animation: shrink 0.5s forwards; /* Adjust the duration as needed */
    transform-origin: center; /* Transform from the center */
}



.guessHigher, .guessLower {
    position: relative;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.guessHigher {
    border: 2px solid rgb(0, 150, 0);
    top: 0;
    margin-bottom: 5px;
    margin-top: -60px;
}

.guessLower {
    border: 2px solid rgb(150, 0, 0);
    bottom: 0;
}

.guessHigher::before, .guessLower::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease;
    pointer-events: none; /* Allow the buttons to be clickable */
}

.guessHigher::before {
    background-color: rgb(0, 150, 0);
}

.guessLower::before {
    background-color: rgb(150, 0, 0);
}

.guessHigher:hover::before, .guessLower:hover::before {
    left: 0;
}

#lowerText, #higherText {
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 0 black;
}

#lowerText {
    color: rgba(255, 0, 0, 1);
}

#higherText {
    color: rgba(0, 255, 0, 1);
}

#upArrow, #downArrow {
    width: 15px;
    height: 15px;
}

#downArrow {
    transform: rotate(180deg);
    filter: drop-shadow(-3px -3px 1px #000);
}

#upArrow {
    filter: drop-shadow(3px 3px 1px #000);
}
